@{
    ViewData["Title"] = "Kapteyn Bros. Construction";
}

<div id="bannerQuote">
    <p id="quote">"Whatever the project, we nail it every time!"</p>
</div>

<div id="aboutSection">
    <h1 class="sectionTitle">What we do:</h1>
    <div id="blurbFlexContainer">
        <div class="blurb">
            <div class="blurbTitle"><h2>Renovations</h2></div>
            <div class="blurbContent">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                    libero voluptatem molestiae, similique cupiditate eveniet corporis
                    sit, veritatis excepturi magnam, beatae alias. Nostrum sed alias rerum
                    quas reprehenderit beatae nisi?
                </p>
            </div>
        </div>
        <div class="blurb">
            <div class="blurbTitle"><h2>Additions</h2></div>
            <div class="blurbContent">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                    libero voluptatem molestiae, similique cupiditate eveniet corporis
                    sit, veritatis excepturi magnam, beatae alias. Nostrum sed alias rerum
                    quas reprehenderit beatae nisi?
                </p>
            </div>
        </div>
        <div class="blurb">
            <div class="blurbTitle"><h2>Custom Carpentry</h2></div>
            <div class="blurbContent">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                    libero voluptatem molestiae, similique cupiditate eveniet corporis
                    sit, veritatis excepturi magnam, beatae alias. Nostrum sed alias rerum
                    quas reprehenderit beatae nisi?
                </p>
            </div>
        </div>
    </div>
</div>
