<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KapteynBrosCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="head">
        <div id="logo">K</div>
        <nav id="navBar">
            <a class="navElement" id="navHome">Home</a>
            <a class="navElement" id="navGallery">Gallery</a>
            <a class="navElement" id="navContact">Contact</a>
        </nav>
    </div>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
